.counter-button{
  width: 100%;
  padding: 20px;
  font-size: 18px;
  border: none;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #43a047;
}

.counter-box {
border: 2px solid black;
border-radius: 8px;
}

.number-style {
  color: black;
  font-size: 24px;
  font-weight: bold;
}