.main {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  color: white;
  /* padding: 1em; */
  background-image: url(../../assets/dartbgimage.png);
}
body {
  margin: 0;
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../assets/dartbgimage.png);
}